name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 24.x
      - run: npm install --frozen-lockfile
      - run: npm run format

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # typescript-version: ['4.0.2']

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install --frozen-lockfile
      # - run: npm add -D typescript@${{ matrix.typescript-version }}
      - run: npm run build
      - run: npm run test
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: node-${{ matrix.node-version }}
          # flag-name: node-${{ matrix.node-version }}-ts-${{ matrix.typescript-version }}
          parallel: true

  finish:
    runs-on: ubuntu-latest

    needs: test

    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
